<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1><a href="/">Home</a></h1>
    <h1>Add a User</h1>
    <form action="/create_user" method="POST">
        <p>First Name:</p>
        <input type="text" name="firstname">
        <p>Last Name:</p>
        <input type="text" name="lastname">
        <p>Email:</p>
        <input type="text" name="email">
        <input type="submit" value="Create">
    </form>
</body>
</html>