{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
</head>
<body>
    {% block content %}
    <h1>Users</h1>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
            <td>{{ user['first_name'] }}</td>
            <td>{{ user['last_name'] }}</td>
            <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endblock %}
</body>
</html>

