<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
        </tr>
        <tr>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
        </tr>
        <tr>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
        </tr>
        <tr>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
        </tr>
        <tr>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
        </tr>
        <tr>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
        </tr>
        <tr>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
        </tr>
        <tr>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
            <td class="colorTwo"></td>
            <td class="colorOne"></td>
        </tr>
        
    </table>
    
    
</body>
</html>