<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='result_style.css') }}">
    <title>Results</title>
</head>
<body>
    <a href="/">Home</a>
    <div class="resultcontainer">
        <h1>Submitted Info</h1>
            <p>Name: {{survey['name']}}</p>
            <p>Location: {{survey['location']}}</p>
            <p>Language: {{survey['language']}}</p>
            <p>Comments: {{survey['comment']}}</p>
    </div>
</body>
</html>


