.registration-login-container {
    display: flex;
    justify-content: space-evenly;
}

.registration-box {
    display: flex;
    align-items: center;
    padding: 0px 35px;
    border: 2px solid black;
    height: 500px;
    width: 400px;
}

.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 500px;
    width: 400px;
}

.error-message {
    position: sticky;
    text-align: center;
}