<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Email</th>
            <th>Created At</th>
        </tr>
        {% for email in all_emails %}
        <tr>
            <td>{{email["email"]}}</td>
            <td>{{email["created_at"]}}</td>
        </tr>
        {% endfor %}
</body>
</html>